Located in {{broter.city}}, this {{broter.hp}} bedroom {{broter.type}} is
available by arrangement through {{broter.owner}}.
<br>
<p><img src={{broter.image}} alt={{broter.type}}></p>

<button {{action 'delete' broter}}>Delete</button>
